@import "components/header";
@import "components/footer";
@import "components/list/list";
@import "components/map/map";
@import "components/form/form";
@import "components/editor/editor";

body,
html {
  margin: 0;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  background-color: #FCFBFA;
  @extend .roboto;
}

input {
  box-shadow: none;

  &:-moz-placeholder,
  &:focus {
    box-shadow: none !important;
  }

  &:invalid {
    box-shadow: none;
  }

  &[readonly] {
    cursor: default;
  }
}

.roboto {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.opensans {
  font-family: "Open Sans","Helvetica","Arial",sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 76px);
  padding: 30px 20px;
}
